Running a simulation for {{ team_1 }} vs {{ team_2 }}
{% load simulation_extras %}
<table>
    <tr>
        <th>Quarter</th>
        <th>Time</th>
        <th>Down</th>
        <th>ToGo</th>
        <th>Location</th>
        <th>Score</th>
        <th>Detail</th>
    </tr>
{% for quarter, time, down, to_go, location, team_1_score, team_2_score, play_type, yards_gained, offense in simulation %}
    <tr>
        <th>{{ quarter }}</th>
        <th>{{ time }}</th>
        <th>{{ down }}</th>
        <th>{{ to_go }}</th>
        <th>{{ location }}</th>
        <th>{{ team_1_score }} vs. {{ team_2_score }}</th> 
        {% comment %} first check for the scoring, then offensive team, then sort by play type {% endcomment %}
        {% get_name team_1 as team_1_name %}
        {% get_name team_2 as team_2_name %}
        {% if team_1_name == offense %}
            {% if 'pass' in play_type %}
                <th>{% find_player qb1 %} ( {% get_name team_1 %} ) passes {{ yards_gained }} yards to {% find_player wr1 %} ( {% get_name team_1 %} ) {% if scored %} and scored! {% endif %}</th>
            {% elif 'run' in play_type %}
                <th>{% find_player rb1 %} ( {% get_name team_1 %} ) runs {{ yards_gained }} yards {% if scored %} and scored! {% endif %}</th>
            {% elif 'punt' in play_type %}
                <th>{% find_player k1 %} ( {% get_name team_1 %} ) punted {{ yards_gained }} yards</th>
            {% elif yards_gained == 'success' %}
                <th>{% find_player k1 %} ( {% get_name team_1 %} ) made a field goal</th>
            {% elif yards_gained == 'fail' %}
                <th>{% find_player k1 %} ( {% get_name team_1 %} ) missed a field goal</th>
            {% endif %}
        {% elif team_2_name == offense %}
            {% if 'pass' in play_type %}
                <th>{% find_player qb2 %} ( {% get_name team_2 %} ) passes {{ yards_gained }} yards to {% find_player wr2 %} ( {% get_name team_2 %} ) {% if scored %} and scored! {% endif %}</th>
            {% elif 'run' in play_type %}
                <th>{% find_player rb2 %} ( {% get_name team_2 %} ) runs {{ yards_gained }} yards {% if scored %} and scored! {% endif %}</th>
            {% elif 'punt' in play_type %}
                <th>{% find_player k2 %} ( {% get_name team_2 %} ) punted {{ yards_gained }} yards</th>
            {% elif yards_gained == 'success' %}
                <th>{% find_player k2 %} ( {% get_name team_2 %} ) made a field goal</th>
            {% elif years_gained == 'fail' %}
                <th>{% find_player k2 %} ( {% get_name team_2 %} ) missed a field goal</th>
            {% endif %}
        {% endif %}
{% endfor %}
    </tr>
</table>
